/*  HTML tags  */
body{
	font-family: "lucida sans unicode","arial unicode","bitstream vera sans",sans-serif;
	color: #07566F;
	background-color: #FFFFFF;
	width: 100%;
    max-width: 40em;
    margin: 10px auto;
}
a {
	text-decoration: none;
	color: #F66570;
}
a:hover {
	text-decoration: underline;
}
li:hover .correction{
	display: block;
	visibility: visible;
}
ol{
	list-style-position:inside;
}
ul{
	list-style-position:inside;
	padding-left: 0px;
}
/* ids */
/* ids */
#menu_general{
	/*position: absolute;
	top: 30px;*/
	vertical-align:top;
	text-align:left;
	height: 55px;
	border-bottom-width: 5px;
	border-bottom-style:solid;
	border-bottom-color: #F66570;
	width: 100%;
	padding: 4px;
	margin: 0px;
	background-color: #e6e6FF;
}

h1{
	text-align: right;
	text-transform: uppercase;
	border-bottom-width: 5px;
	border-bottom-style:solid;
	border-bottom-color: #F66570;
	/*margin-left: 207px;*/
}
h2{
	text-align: left;
}
