<head>
    <meta charset="UTF-8">
    <!-- PyScript CSS -->
        <link rel="stylesheet" href="https://pyscript.net/releases/2024.5.1/core.css">
        <!-- This script tag bootstraps PyScript -->
        <script type="module" src="https://pyscript.net/releases/2024.5.1/core.js"></script>

</head>
<body>
    <!-- code js -->
    <script>
    var MyClass = class MyClass {
        constructor() {
            this.hi_count = 0;
        }
        sayHi() {
            if (this.hi_count === 0) {
                console.log('Hi<br>')
            } else {
                console.log('Hi Again<br>')
            }
            this.hi_count++
        }
    }
    </script> 
    <!-- code python -->
    <script type="py">
        def f(x):
           print(x)
    </script>    
    <!-- statique -->
    <script type="py" terminal>
        from js import MyClass

        one = MyClass.new()
        two = MyClass.new()

        one.sayHi()
        two.sayHi()
        one.sayHi()
    </script>
    <!--editeur-->
    <script type="py-editor" target="sortie">
  import sys
  print(sys.version)
    </script>
<div id="sortie"></div>
    </body>
</html>
