<script type="importmap">
    {
      "imports": {
        "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
      }
    }
  </script>
  
  <div id="app">{{ message }}</div>
  
  <script type="module">
    import { createApp, ref } from 'vue'
  
    createApp({
      setup() {
        const message = ref('Hello Vue!')
        return {
          message
        }
      }
    }).mount('#app')
  </script>